@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
#section{
    background-color:rgb(37, 37, 46);
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.container{
    width:90%;
    max-width:300px;
    background-color:rgb(56, 56, 68);
    border-radius:10px;
    overflow:hidden;
}
.output{
    background-color: rgb(171, 169, 179);
    padding:25px;
    text-align: right;
}
.result-0{
    opacity:.4;
    overflow:hidden;
}
.buttons{
    color:white;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.button{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:30px;
    cursor:pointer;
}
.button:hover{
    background-color:#565669;
    transition: .2s ease;
    border-radius:5px;
}
.space{
    grid-column: 1/3;
}